name: Java CI with Gradle

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 8.0.232
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload build artifacts
      uses: actions/upload-artifact@v1
      with:
        name: build-artifacts
        path: build/libs

    - uses: ncipollo/release-action@v1
      with:
        artifacts: "build/libs/Wynntils.jar"
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: update-${{ github.sha }}
        commit: "development"

    - uses: MCJack123/ghaction-generate-release-hashes@v1
      with:
        hash-type: md5
        file-name: hashes.txt